<h1>Top Questions</h1>


<% @questions.each do |question| %>
  <div class="question-block">
      
      <div class="answers">
        Answers
        <%= question.answers.count %>
      </div>
      <div class="the-question">
        <h3><%= link_to question.question, question %></h3>
      </div>
      <% if current_user %>
        <div class="admin-actions">
          <%= link_to 'Show', question %> | <%= link_to 'Edit', edit_question_path(question) %> |
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
  </div>
<% end %>


<br>

<%= link_to 'New Question', new_question_path %>
