	<h3>Subject: <%= Subject.find(@question.subject_id).name %></h3>
  <h1><i>Question:</i> <%= @question.question %></h1>
  
<h3><i>Answers: <%= @question.answers.count %></i></h3>


<% if @question.answers.count == 0  %>
	<div><strong>No one has answered this question yet!</strong></div>
<% else %>
	<% @question.answers.each do | answer | %>
		<div class="answer-block">
			<%= answer.answer %>
			
			<% if current_user %>
				<div class="admin-block">
					<%= link_to 'Edit answer', edit_question_answer_path( @question,answer.id ) %> |
					<%= link_to 'Delete answer', [@question,answer], method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>
<div class="button">
	<%= link_to 'Answer this question', new_question_answer_path(@question.id) %>
	<% if current_user %>
		<%= link_to 'Edit this question', edit_question_path(@question) %>
	<% end %> 

</div>

<br><br>


<%= link_to 'Back', subjects_path + "/#{@question.subject_id}" %>
